
!.gitignore
!1.sh
!LICENSE
!README.md

/oi/atcoder/*
/oi/luogu/*
/oi/duipai/pre/*
/oi/duipai/make/*
/oi/duipai/spj/*
/oi/sch/*

!/others/*

!*.py
!*.c*
!*.js*
!*.css

tmp.*
test.*
*.out
*.in
.vscode/*
.vs/*
*.exe
/oi/duipai/pre/juruo.cpp
/oi/duipai/pre/std.cpp
