
!.gitignore
!1.sh
!LICENSE
!README.md

.vscode/*

.vs/*

!/oi/*
!/oi/duipai/*
!/oi/duipai/python/*
/oi/duipai/c++/*
!/oi/duipai/c++/*.cpp
/oi/duipai/pre/*
/oi/sch/*

!/others/*

!*.py

tmp.*
test.*
*.out
*.in
*.exe
